<!-- <div class="row">
    <div class="panel panel-default">


        <div class="col-xs-12 panel-heading">
            <div class="col-xs-9">
                <span class="heading">Contacts</span>
            </div>

            <div class="col-xs-12">
                <div class="search-form col-xs-9">
                    <div class="input-group">
                                <input
                                type="text"
                                class="form-control"
                                placeholder="Search User"
                                #searchBox
                                (keyup)="search(searchBox.value)"
                                />
                        <div
                        class="glyphicon glyphicon-search input-group-addon"
                        (click)="search(searchBox.value)"
                        ></div>
                </div>
                <div class="add-contact-button col-xs-3">
                    <button class="btn btn-success" (click)="onCreateContact()">New Contact</button>
                </div>
                
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 margin-top">
                    <cms-contact-item
                    *ngFor="let contact of contacts"
                    [item]="contact"
                    dnd-draggable
                    [dragEnabled]="true"
                    [dragData]="contact"
                    [dropZones]="['contactGroup']"

                    ></cms-contact-item>
                </div>

            </div>
           
        </div>
    </div>
</div> -->



<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Contacts</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <!-- Add the search box input field here -->
                <input
                type="text"
                class="form-control"
                placeholder="Search User"
                #searchBox
                (keyup)="search(searchBox.value)"
                />

              <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>

            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" (click)="onCreateContact()">New Contact</a>
            </div>
          </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 margin-top">
                    <cms-contact-item
                    *ngFor="let contact of contacts | contactsFilter: term"
                    [item]="contact"
                    dnd-draggable
                    [dragEnabled]="true"
                    [dragData]="contact"
                    [dropZones]="['contactGroup']"

                    ></cms-contact-item>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>

